<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <!-- build:js({.tmp,AngularJS-basics}) scripts/script.js -->


    <!-- endbuild -->

    <script src="bower_components/angular/angular.js"></script>
    <script src="node_modules/underscore/underscore.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>

    <link rel="stylesheet" type="text/css" href="styles/style.css">

    <script src="scripts/angular.imgs.js"></script>
    <script src="scripts/texas.js"></script>
    <script src="scripts/script.js"></script>

    <title>Poker Calculator</title>
</head>
<body ng-app="pokerCalc">

<div id="wrapper">

    <header>
        <div ng-controller="ctrl" id="all-cards">
            <table>
                <tr>
                    <td ng-repeat="image in images1">
                        <img ng-src="{{image.src}}" alt="{{image.name}}" width="47px" height="63px" />
                    </td>
                </tr>
                <tr>
                    <td ng-repeat="image in images2">
                        <img ng-src="{{image.src}}" alt="{{image.name}}" width="47px" height="63px" />
                    </td>
                </tr>
            </table>
        </div>
    </header>

    <section>   <br><br>
        <div class="pl1" align="center">
            <img src="imgs/b1fv.png" width="100px" height="150px" id="closedCard" />
        </div>
    </section>

</div>

<form id="input">
    <div>Set player 1 hand: <input type="text" id="p1" /></div>
    <div>Set player 2 hand: <input type="text" id="p2" /></div>
    <div>Set the flop: <input type="text" id="flop" /></div>
    <div>Set the turn: <input type="text" id="turn" /></div>
    <div>Set the river: <input type="text" id="river" /></div>
</form>

<form id="output">
    Player 1 odds:<div id="output-p1"> </div> <br>
    Player 2 odds:<div id="output-p2"> </div>
</form>

<button id="go">Calculate</button>



</body>
</html>