html, body {
    padding: 0 0 0 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-image: url('../imgs/backgr.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#wrapper {
    font-family: 'Palatino Linotype';
}

#all-cards {
    margin: auto;
    width: 80%;
    padding-left: 15px;
    padding-top: 1px;
}

form {
    font-size: 1.3em;
    color: white;
    margin: 25px;
}

input {
    position: absolute;
    margin-left: 10px;
}

#output-p1, #output-p2 {
    display: inline;
}

.closed:active {
    opacity: 0.7;
}

#p1 {
    position: absolute;
    left: 15%;
    top:30%;
}

#p2 {
    position: absolute;
    left: 15%;
    top: 45%;
}

#p3 {
    position: absolute;
    left: 15%;
    top: 60%;
}

#p4 {
    position: absolute;
    left: 15%;
    top: 75%;
}

#p5 {
    position: absolute;
    right: 15%;
    top: 25%;
}

#p6 {
    position: absolute;
    right: 15%;
    top: 40%;
}

#p7 {
    position: absolute;
    right: 15%;
    top: 55%;
}

#p8 {
    position: absolute;
    right: 15%;
    top: 70%;
}

#p9 {
    position: absolute;
    right: 15%;
    top: 85%;
}

#board {
    position: absolute;
    left: 36%;
    top: 35%;
}