html, body {
    padding: 0 0 0 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-image: url('../imgs/backgr.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#wrapper {
    font-family: 'Palatino Linotype';
}

.cards-list {
    padding-left: 2px;
    padding-top: 1px;
}

form {
    font-size: 1.3em;
    color: white;
    margin: 25px;
}

input {
    position: absolute;
    margin-left: 10px;
}

#output-p1, #output-p2 {
    display: inline;
}